






@media screen and (max-width:1800px){
	
	.section1_links{
		width:100%;
	}	
	
	.pic6, .pic5{
		display:none;
	}	
	
	.round_div{
		width:22%;
	}
	
}

@media screen and (max-width:1600px){
	
	.section1_links{
		width:100%;
	}	
	
	.pic4{
		display:none;
	}	
	
	.round_div{
		width:30%;
	}
	
}

@media screen and (max-width: 900px){

.aside {
	float:none;
	width:100%;
	clear:both;
}

.section2_main {
	width:100%;
	float:left;
}

.section1_links{
	width:100%;
}	

.pic3{
	display:none;
}	

.round_div{
	width:47%;
}
}

@media screen and (max-width: 900px){
.menu_top {
	display:none;
}


.links_jos1 {
	width:100%;
	display:block;
	text-align:center;
	float:none;
	margin-top:25px;
}
}

@media screen and (max-width:500px){
	
	.section1_links{
		width:100%;
	}	
	
	.pic2{
		display:none;
	}	
	
	.round_div{
		width:95%;
	}
	
}
